<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lyrics Snoop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link type="text/css" rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" href="/static/jqcloud.css" />
    <link type="text/css" rel="stylesheet" href="/static/main.css" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
  </head>

  <body>
	  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Lyrics Snoop</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
	  
      <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
    		  <div style="text-align: center;">	
    			 
           <form id="artist" method="post" class="well form-search">
            	 <input type="text" name="artist" class="span4" placeholder="Enter artist name" value="{{artist.name}}">
               <input class="btn btn-primary" type="submit" value="Go!">
               <input type="hidden" name="artist_id">
    			</form>

    		  </div>
        </div>
      </div>
	  
    {% if word_cloud %}

    <div class="row-fluid well" style="width: auto;">
      <div class="span4">
        
          <div class="span12">
            <div class="lead"><b>{{artist.name}}</b></div>
            <img class="shadow" src="{{artist.image_url}}">

            <br><br>
            <h3 class="heading_gap">Biography</h3>
            <blockquote>{{artist.bio}}</blockquote>

            <h3 class="heading_gap">Top Albums</h3>

              <ul class="thumbnails">
                {% for album in albums %}
                  <li class="span3">
                    <img src="{{album.image_url}}" alt={{album.name}}>
                    <h5>{{album.name}}</h5>
                  </li>
                {% endfor %}
              </ul>

            <h3 class="heading_gap">Tags</h3>

            {% for tag in artist.tags %}
              <span class="label">{{tag}}</span>
            {% endfor %}

          </div>

      </div>
      <div class="span6">
        <h3 class="heading_gap">Lyric Cloud</h3>
  	    <div style="text-align: center;" id="tagcloud" class="tagcloud"  style="">	
        </div>
      </div>
    </div>
	  
    {% endif %}

      <hr>

      <footer style="text-align: center">
        <p>Hackathon Project &copy; ThoughtWorks 2012</p>
      </footer>

    </div> <!-- /container -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

	<script src="/static/bootstrap.js"></script>
  <script src="/static/jqcloud-1.0.0.min.js"></script>

  <script>
  {% if word_cloud %}
    word_cloud = [
       {% for item in word_cloud %}
            { text: "{{item[0].replace('\"', '')|safe}}", weight: {{item[1]}} },

      {% endfor %} -->
    ];
    $("#tagcloud").jQCloud(word_cloud, {shape: "rectangular"});
  {% endif %}
  </script>
	
  <script>
    artists = {
    {% for artist in artists %}
            '{{artist.name}}': {{artist.id}},
    {% endfor %} -->
    };
  </script>

  <script>
  $(function() {
    var availableArtists = Object.keys(artists);
    $("input[name=artist]").autocomplete({
      source: availableArtists
    });

    $("form#artist").submit(function(){
      var artist_name = $("input[name=artist]").val();
      if (artist_name == "") return false;
      var artist_id = artists[artist_name];
      $('input[name=artist_id]').val(artist_id);
    });
  });
  </script>

  </body>
</html>
